.products-section{
    margin-top: 4em;
}

.products-section,
.products-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.products-info {
    row-gap: 1.1em;
}

.products__h2 {
    font-size: calc(1rem + 1vw);
    font-family: var(--black-ops-one-font);
    text-align: center;
    span {
        color: var(--gold-metallic);
    }
}

.products__p {
    width: 100%;
    padding: 0 2em;
    font-size: calc(.8rem + .5vw);
    text-align: center;
    font-weight: 600;
}

.products-picture {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1em;
}

.product__div {
    width: 90%;
    border: 2px solid var(--white-smoke);
    height: calc(2.2em + 2.2vh);
}

.product__button {
    width: 100%;
    height: 100%;
    font-size: calc(1.1rem + .5vw);
    font-weight: bold;
    background-color: var(--satin-sheen-gold);
    color: var(--night);
    padding: 0 1em;
    margin-left: -.2em;
    margin-top: -.2em;
    cursor: pointer;
    transition: all .3s;
}

@media (width >= 768px) {
    .products-picture {
        width: 100%;
    }

    .products {
        width: 50%;
        margin-bottom: 1.4em;
    }

    .products__h2 {
        font-size: calc(2rem + 1.2vw);
    }

    .product__div {
        width: 50%;
    }
}