.navbar {
  width: 100%;
  background-color: #2525250f;
}

.HamburgerMenu {
  cursor: pointer;
  position: absolute;
  padding: 1em;
  right: 0;
}

#nav-web-style {
  display: none;
}

#nav-mobile-style {
  display: flex;
  justify-content: center;
}

#nav-mobile-style #nav-list {
  flex-direction: column;
  width: 100%;
  display: flex;
  justify-content: right;
  padding-top: 55px;
}

#nav-mobile-style #nav-list ul {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  padding: 25px;
}

#nav-list ul:hover{
  cursor: pointer;
  color: var(--night);
  background-color: var(--satin-sheen-gold);
}

#nav-list ul:active{
  cursor: pointer;
  color: var(--night);
  background-color: var(--satin-sheen-gold);
}

#nav-list a{
  font-family: "Black Ops One", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
}

@media (min-width: 800px){

  #nav-mobile-style {
    display: none;
  }

  #nav-web-style {
    display: flex;
    justify-content: right;
  }
  
  #nav-web-style #nav-list {
    width: 80%;
    display: flex;
    justify-content: right;
  }
  
  #nav-web-style #nav-list ul {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    padding: 25px;
  }
}