#navbar {
  width: 100%;
  min-width: 360px;
  color: #f2f2f2;
  background-color: #2525250f;
}

#nav-list {
  display: flex;
  justify-content: right;
}

#nav-list ul {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

#nav-list a{
  font-family: "Black Ops One", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #f2f2f2;
  text-decoration: none;
}