#title-page {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 2rem;
}

#title-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 20px;
}

#title-left-container {
  display: flex;
  position: absolute;
  z-index: 1;
  top: 450px;
  width: 100%;
  padding-bottom: 7px;
  flex-direction: column;
  text-align: justify;
  gap: 5px;
  font-size: calc(1.2rem + 1vw);
  background: linear-gradient(180deg, #00000000 0%, #00000063 25%, #000000bc 50%, #000000 100%);
}

#title-right-container {
  display: none;
}

#title-upper-wrapper {
  display: flex;
  justify-content: space-between;
}

#title-upper-wrapper p {
  padding-left: 2rem;
}

#mobile-video {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 550px;
}

video {
  position: absolute;
  top: -60px;
  z-index: -2;
  width: 100%;
  border-radius: 2px;
}

.title {
  width: 90%;
  font-size: calc(2.2rem + 1vw);
  padding: 0 2rem;
}

.yellow-title {
  color: var(--satin-sheen-gold);
  padding-left: .4rem;
}

.train-btn {
  align-self: center;
  border: 1.8px solid var(--satin-sheen-gold);
  width: 87%;
  margin-top: 1rem;
}

.train-btn:hover a{
  color: var(--night);
  text-shadow: 0px 1px 1px var(--field-drab);
  background-color: var(--satin-sheen-gold);
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
}

.train-btn:active a{
  color: var(--night);
  text-shadow: 0px 1px 1px var(--field-drab);
  background-color: var(--satin-sheen-gold);
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
}

.train-btn a {
  color: var(--satin-sheen-gold);
  padding: 15px 40px;
}

#btn-web-view {
  display: none;
}

@media (min-width: 1000px) {

  .title-page {
    height: 100vh;
  }

  #title-right-container {
    width: 60%;
    display: flex;
  }

  #btn-web-view {
    display: flex;
  }

  #btn-mobile-view {
    display: none;
  }

  #mobile-video {
    display: none;
  }

  .video-container {
    width: 100%;
    display: flex;
    overflow: hidden;
    height: 100%;
    align-items: center;
  }


  .video-container {
    background: rgb(0,0,0);
    background: radial-gradient(60% 68.81% at 55.55% 58.64%, rgba(0, 0, 0, 0) 0%, #0D0D0D 90.72%);
  }

  #title-upper-wrapper p {
    padding: 0;
  }

  video {
    position: inherit;
    height: 1200px;
  }

  #title-upper-wrapper {
    justify-content: center;
    height: 100%;
  }

  #title-left-container {
    position: inherit;
    width: 40%;
    height: 100%;
    max-width: 90%;
    justify-content: center;
    background: none;
    font-size: calc(1.4rem + 1vw);
    gap: 0;
    padding-left: 3rem;
  }

  .title {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: calc(2rem + 1vw);
    padding: 0;
  }
  
  .yellow-title {
    font-size: calc(4rem + 1vw);
    padding-left: 0;
  }

  .sub-title {
    font-size: calc(1.2rem + 1vw);
    margin-top: 1rem;
  }

  .btn-web-view {
    width: 100%;
    .train-btn {
      width: 100%;
      font-size: calc(1rem + 1vw);
    }
  }

  .title-container {
    width: 100%;
  }

  #title-page {
    padding: 0;
  }

  .train-btn {
    justify-content: center;
    text-align: center;
    width: 90%;
    max-width: 750px;
    margin-top: 30px;
  }

  .train-btn a{
    width: 100%;
    max-width: 750px;
    padding: 25px 20px;
  }
}