#title-page {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 50px;
}

#title-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

#title-left-container {
  display: flex;
  position: absolute;
  z-index: 1;
  top: 500px;
  width: 100%;
  padding-bottom: 7px;
  flex-direction: column;
  text-align: justify;
  gap: 5px;
  background: linear-gradient(180deg, #00000000 0%, #00000063 25%, #000000bc 50%, #000000 100%);
}

#title-right-container {
  display: none;
}

#title-upper-wrapper {
  display: flex;
  justify-content: space-between;
}

#title-upper-wrapper p {
  padding: 0 20px;
}

#mobile-video {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 550px;
}

video {
  position: absolute;
  top: -60px;
  z-index: -2;
  width: 100%;
  border-radius: 2px;
}

.title {
  font-size: 1.9rem;
  padding: 0 20px;
}

.yellow-title {
  font-size: 2.3rem;
  color: var(--satin-sheen-gold);
}

#train-btn {
  align-self: center;
  border: 1.8px solid var(--satin-sheen-gold);
  width: 87%;
}

#train-btn:hover a{
  color: var(--night);
  text-shadow: 0px 1px 1px var(--field-drab);
  background-color: var(--satin-sheen-gold);
}

#train-btn:active a{
  color: var(--night);
  text-shadow: 0px 1px 1px var(--field-drab);
  background-color: var(--satin-sheen-gold);
}

#train-btn a {
  color: var(--satin-sheen-gold);
  padding: 15px 40px;
}

@media (min-width: 1000px) {
  #title-right-container {
    display: flex;
  }

  #mobile-video {
    display: none;
  }

  .video-container {
    display: flex;
    overflow: hidden;
    height: 600px;
    align-items: center;
  }

  #title-upper-wrapper p {
    padding: 0;
  }

  video {
    position: inherit;
    height: 1200px;
  }

  #title-upper-wrapper {
    padding-top: 25px;
    align-items: end;
    justify-content: center;
  }

  #title-left-container {
    position: inherit;
    background: none;
    font-size: 1.7rem;
  }

  .title {
    font-size: 3.5rem;
    padding: 0;
  }
  
  .yellow-title {
    font-size: 3.8rem;
  }

  #title-container {
    width: 87%;
  }

  #title-page {
    padding: 0;
  }

  #train-btn {
    width: 100%;
  }
}