.navbar-footer {
    width: 50%;
    height: calc(10em + 10vh);
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    padding-left: 1em;
    font-size: calc(.6em + 1vw);
}

.navbar-home,
.navbar-legit {
    display: flex;
    flex-direction: column;
    row-gap: .5em;
    padding-bottom: .5em;
    text-decoration: underline;
}