#home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-container {
  overflow-x: hidden;
}

.reveal.right {
  transform: translateX(150px);
  opacity: 0;
  transition: all 1.5s ease;
}

.reveal.left {
  transform: translateX(-150px);
  opacity: 0;
  transition: all 1.5s ease;
}

.reveal.active {
  transform: translateX(0px);
  opacity: 1;
}
